p {
  animation: slide-in 3s 3 alternate;
}
p span {
  display: inline-block;
  animation: grow-shrink 3s infinite;
}
@keyframes slide-in {
  0% {
    transform: translate(150vw, 0) scaleX(200%);
  }
  100% {
    transform: translate(0, 0) scaleX(100%);
  }
}
@keyframes grow-shrink {
  25%,
  75% {
    transform: scaleY(100%);
  }
  50% {
    transform: scaleY(200%) scaleX(120%);
    color: magenta;
  }
}
/* ---- */
div {
  font-size: 1.6rem;
  padding: 20px;
  border: 3px solid red;
  border-radius: 20px;
  width: 480px;
  opacity: 0;
  display: none;
}
/* animation classes */
div.fade-in {
  display: block;
  animation: fade-in 0.7s ease-in forwards;
}
div.fade-out {
  animation: fade-out 0.7s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
